@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Patrick+Hand+SC&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: "Gochi Hand", cursive;
}

body {
    background-color: #FFD6A5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

#mainContainer {
    width: 75%;
    height: fit-content;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 30px;
    
}



/* Adding Loader styles */

.spinner {
    text-align: center;
    background: white;
    padding: 300px 0;
    border-radius: 30px;
    z-index: 99;
    }
    
    .spinner > div {
      width: 18px;
      height: 18px;
      background: linear-gradient(
        90deg
        , #ede9e0 25%, #FFD6A5 100%);
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    
    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    
    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .spinner-text{
      font-size: 13px;
      padding: 10px;
      display: block;
      font-weight: 700;
      position: fixed;
      bottom: 10%;
      z-index: 999;
      text-align: center;
      left: calc(50% - 170px);
    }
  
    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }
    
    @keyframes sk-bouncedelay {
      0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }


#movieList{
    display: flex;
    flex-direction: column;
}

#movieListTitle {
    padding: 10px;
    text-align: center;
    font-size: 37px;
    text-decoration: underline;
}

/* #movieListRowHeading{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding-top: 10px;
    text-decoration: underline;
} */

#movieListItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

.movieListItem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 180px;
    cursor: pointer;
    /* padding: 5px; */
    font-size: 25px;
    margin: 10px;
    border-radius: 20px;
    --shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
    box-shadow: var(--shadow);
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.movieListPoster{
    padding-top: 15px;
    align-self: center;
    width: 145px;
}

.movieListTitle{
    padding: 5px;
    text-align: center;
}

#searchbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1px 5px;
  border: 1.5px solid rgba(128, 128, 128, 0.507);
  border-radius: 30px;
  width: 50%;
  height: 30px;
}

#searchbar img {
  height: 19px;
  width: 19px;
  align-self: center;
  cursor: pointer;
}

#searchbar input {
  font-size: 18px;
  width: 100%;
  border: 0;
  outline: none;
}

#paginationContainer{
  padding: 7px 0;
  font-size: 18px;
}

#pagination {
  margin: 0;
  padding: 0;
  text-align: center
}
#pagination li {
  display: inline;
  cursor: pointer;
}
#pagination li a {
   display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
    
}
#pagination li a.active {
  background-color: #cf8252dd;
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
} 

.errorMsg{
  font-size: 40px;
  padding: 250px 50px;
  text-align: center;
  color: rgba(215, 100, 51, 0.839);
}



#movieDetailsMainContainer{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
}

#titleMovieDetails{
  padding: 15px 0;
  font-size: 40px;
  align-self: center;
  text-align: center;
  text-decoration: underline;
}

#movieDetailsSection{
  display: flex;
  align-self: center;
  padding: 20px;
  border-radius: 0px;
  width: 90%;
    --shadow: 0.3px 0.3px 0.3px 0.3px rgba(55, 51, 51, 0.005);
    box-shadow: var(--shadow);
    --shadow: rgba(78, 65, 65, 0.16) 0px 10px 36px 0px, rgba(57, 53, 53, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 900px) {
  #movieDetailsSection{
    flex-direction: column;
  }
  #movieDetails{
    margin-top: 15px;
  }
}

#movieDetailsSection img {
  /* min-width: 300px; */
  padding: 0 20px;
}

.movieDetailsItem{
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.movieDetailsItemHeading{
  font-size: 25px;
  text-decoration: underline;
  padding-right: 10px;
}

.movieDetailsItemValue{
  align-self: center;
}

.userInputMovieDetails{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

#movieDetailsMainContainer label{
  font-size: 30px;
  text-decoration: underline;
  align-self: center;
}

#yourComment{
  display: flex;
  flex-direction: column;
}

#yourComment input{
  border: 1px solid grey;
  align-self: center;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: rgb(252, 227, 5);
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px rgb(252, 227, 5);
}